article.post {
    width: 100%;
    padding: 15px;
    border: 10px solid #f8f8f8;
    border-radius: 4px;
    overflow: hidden;
    .media-object {
        border: none;
        padding: {
            top: 0;
            left: 0;
        }
        a[rel="author"] {
            display: block;
            color: blue;
            address.author, span.author {
                font-style: normal;
            }
        }
        time {
            display: block;
            font-size: .8rem;
        }
    }
    h2 {
        font-weight: bold;
        font-size: 1.2rem;
    }
    img {
        width: 100%;
        height: auto;
    }
    & & {
        margin-top: 15px;
    }
}