/**
 * Avatars
 */

.avatar {
    &--inline-block {
        display: inline-block;
    }
    &__image {
        width: 56px;
        height: auto;
        &--large {
            width: 75px;
        }
    }
}