.badge {
    border-radius: 50%;
    display: inline-block;
    border: 3px solid transparent;
    .badge__content {
        display: inline-block;
        font-weight: bold;
        font-size: .7rem;
        border-radius: 50%;
        padding: 7px;
        &::before {
            content: "(";
        }
        &::after {
            content: ")";
        }
    }
    &--default {
        .badge__content {
            border: 3px solid #dcdcdc;
            color: #000;
            background-color: #fff;
        }
    }
    &--warning {
        .badge__content {
            border: 3px solid #ff0;
            color: #000;
            background-color: #fff;
        }
    }
    &--danger {
        .badge__content {
            border: 3px solid #f00;
            color: #000;
            background-color: #fff;
        }
    }
    &:hover {
        border: 3px solid rgba(0, 140, 186, 0.5);
        transition: 0.3s;
    }
}