.badge {
    font-weight: bold;
    font-size: .7rem;
    border-radius: 50%;
    padding: 7px;
    &--default {
        // box-shadow: 0 0 1px 0 #000;
        border: 3px solid #000;
        color: #000;
        background-color: #fff;
    }
    // &--inverse {
    //     border: 3px solid #000;
    //     color: #fff;
    //     background-color: #000;
    // }
    &--warning {
        border: 3px solid #ff0;
        color: #000;
        background-color: #fff;
    }
    &--danger {
        border: 3px solid #f00;
        color: #000;
        background-color: #fff;
    }
    &::before {
        content: "(";
    }
    &::after {
        content: ")";
    }
    &:hover {
        border: 3px solid rgba(0, 140, 186, 0.5);
        transition: 0.3s;
    }
}