.carousel {
    position: relative;
    &--rounded {
        .carousel__control--left {
            border-top-left-radius: 4px;
            border-bottom-left-radius: 4px;
        }
        .carousel__control--right {
            border-top-right-radius: 4px;
            border-bottom-right-radius: 4px;
        }
    }
    &__viewer {
        display: block;
        width: 100%;
        overflow: hidden;
    }
    &__slide {
        display: none;
        position: relative;
        width: 100%;
        &--active {
            display: block;
        }
        &-image {
            display: block;
            max-width: 100%;
            height: auto;
            margin: auto;
        }
        &-caption {
            position: absolute;
            z-index: 100;
            bottom: 20px;
            right: 20%;
            left: 20%;
            margin: 20px 0 10px 0;
            text-align: center;
            font-size: 1rem;
            &--dark {
                color: #000;
            }
            &--light {
                color: #fff;
            }
        }
    }
    &__control {
        position: absolute;
        z-index: 100;
        top: 0;
        bottom: 0;
        width: 15%;
        height: 100%;
        background-color: transparent;
        text-align: center;
        &--left {
            left: 0;
        }
        &--right {
            right: 0;
        }
        &:hover &-glyph {
            opacity: 1;
            transition: opacity .8s;
        }
    }
    &__control-glyph {
        position: absolute;
        top: 50%;
        color: #fff;
        opacity: 0.5;
        transition: opacity .8s;
        font-size: 1.5rem;
        border: 3px solid #fff;
        border-radius: 50%;
        margin: -15px;
        padding: 0 7px;
        &--left {
            left: 50%;
        }
        &--right {
            right: 50%;
        }
    }
    &__indicators {
        position: absolute;
        z-index: 100;
        bottom: 0;
        left: 15%;
        right: 15%;
        list-style: none;
        display: block;
        width: 70%;
        text-align: center;
        background-color: transparent;
    }
    &__indicator {
        display: inline-block;
        height: 100%;
        line-height: 2rem;
        overflow: hidden;
        cursor: pointer;
        &-glyph {
            display: inline-block;
            width: .5rem;
            height: 2rem;
            &-inner {
                display: inline-block;
                width: .5rem;
                height: .5rem;
                border-radius: 50%;
                background-color: #fff;
                opacity: 0.5;
            }
        }
        & + & {
            margin-left: 5px;
        }
        &:hover &-glyph-inner {
            opacity: 1;
        }
        &--active {
            .carousel__indicator-glyph-inner {
                opacity: 1;
            }
        }
    }
}

@media only screen and (min-width: 768px) {
    .carousel__control-glyph {
        margin: -28px;
        font-size: 3rem;
        padding: 0 15px;
    }
    .carousel__indicator {
        line-height: 3rem;
        &-glyph {
            width: .75rem;
            height: 3rem;
            &-inner {
                width: .75rem;
                height: .75rem;
            }
        }
    }
    .carousel__slide-caption {
        bottom: 20px;
        margin: 20px 0 30px 0;
    }
}
