/**
 * Carousel
 */

.carousel {
    position: relative;
    &__slides {
        display: block;
    }
    &__slide {
        position: relative;
        overflow: hidden;
        display: none;
        &.active {
            display: block;
        }
        img {
            display: block;
            max-width: 100%;
            height: auto;
            margin: 0 auto;
            animation-name: carousel;
            animation-duration: 0.5s;
        }
    }
    &__caption {
        position: absolute;
        overflow: hidden;
        z-index: 10;
        right: 15%;
        bottom: 20%;
        left: 15%;
        text-align: center;
        background-color: transparent;
    }
    &__chrome {
        position: absolute;
        bottom: 10%;
        left: 0;
        overflow: hidden;
        z-index: 10;
        width: 100%;
        height: auto;
        text-align: center;
        font-size: 1em;
        color: white;
    }
}

/**
 * keyframes
 */
@keyframes carousel {
    0% {opacity: 0.0}
    10% {opacity: 0.5}
    100% {opacity: 1}
}