/**
 * 12 Column, Mobile First Grid System
 */

 /* clear fix */
 .row {
    width: 100%;
    &:after {
        @include clearfix;
    }
}

.row + .row {
    margin-top: 15px;
}

/* mobile columns */
[class*="col-"] {
    width: 100%;
    padding: 15px;
}

/* small device columns, e.g. tablet */
@media only screen and (min-width: 768px) {
    [class*="col-sm"] {
        float: left;
    }

    [class*="col-span-sm"]:after {
        content: "";
    }

    .col-sm-1 {width: 8.33%;}
    .col-sm-2 {width: 16.66%;}
    .col-sm-3 {width: 25%;}
    .col-sm-4 {width: 33.33%;}
    .col-sm-5 {width: 41.66%;}
    .col-sm-6 {width: 50%;}
    .col-sm-7 {width: 58.33%;}
    .col-sm-8 {width: 66.66%;}
    .col-sm-9 {width: 75%;}
    .col-sm-10 {width: 83.33%;}
    .col-sm-11 {width: 91.66%;}
    .col-sm-12 {width: 100%;}

    .col-span-sm-1 {margin-left: 8.33%;}
    .col-span-sm-2 {margin-left: 16.66%;}
    .col-span-sm-3 {margin-left: 25%;}
    .col-span-sm-4 {margin-left: 33.33%;}
    .col-span-sm-5 {margin-left: 41.66%;}
    .col-span-sm-6 {margin-left: 50%;}
    .col-span-sm-7 {margin-left: 58.33%;}
    .col-span-sm--8 {margin-left: 66.66%;}
    .col-span-sm--9 {margin-left: 75%;}
    .col-span-sm--10 {margin-left: 83.33%;}
    .col-span-sm--11 {margin-left: 91.66%;}
    .col-span-sm--12 {margin-left: 100%;}
}

/* medium device columns, e.g. desktop */
@media only screen and (min-width: 992px) {
    [class*="col-md"] {
        float: left;
    }

    [class*="col-span-md"]:after {
        content: "";
    }

    .col-md-1 {width: 8.33%;}
    .col-md-2 {width: 16.66%;}
    .col-md-3 {width: 25%;}
    .col-md-4 {width: 33.33%;}
    .col-md-5 {width: 41.66%;}
    .col-md-6 {width: 50%;}
    .col-md-7 {width: 58.33%;}
    .col-md-8 {width: 66.66%;}
    .col-md-9 {width: 75%;}
    .col-md-10 {width: 83.33%;}
    .col-md-11 {width: 91.66%;}
    .col-md-12 {width: 100%;}

    .col-span-md-1 {margin-left: 8.33%;}
    .col-span-md-2 {margin-left: 16.66%;}
    .col-span-md-3 {margin-left: 25%;}
    .col-span-md-4 {margin-left: 33.33%;}
    .col-span-md-5 {margin-left: 41.66%;}
    .col-span-md-6 {margin-left: 50%;}
    .col-span-md-7 {margin-left: 58.33%;}
    .col-span-md--8 {margin-left: 66.66%;}
    .col-span-md--9 {margin-left: 75%;}
    .col-span-md--10 {margin-left: 83.33%;}
    .col-span-md--11 {margin-left: 91.66%;}
    .col-span-md--12 {margin-left: 100%;}
}

/* large device columns, e.g. large desktop */
@media only screen and (min-width: 1200px) {
    [class*="col-lg"] {
        float: left;
    }

    [class*="col-span-lg"]:after {
        content: "";
    }

    .col-lg-1 {width: 8.33%;}
    .col-lg-2 {width: 16.66%;}
    .col-lg-3 {width: 25%;}
    .col-lg-4 {width: 33.33%;}
    .col-lg-5 {width: 41.66%;}
    .col-lg-6 {width: 50%;}
    .col-lg-7 {width: 58.33%;}
    .col-lg-8 {width: 66.66%;}
    .col-lg-9 {width: 75%;}
    .col-lg-10 {width: 83.33%;}
    .col-lg-11 {width: 91.66%;}
    .col-lg-12 {width: 100%;}

    .col-span-lg-1 {margin-left: 8.33%;}
    .col-span-lg-2 {margin-left: 16.66%;}
    .col-span-lg-3 {margin-left: 25%;}
    .col-span-lg-4 {margin-left: 33.33%;}
    .col-span-lg-5 {margin-left: 41.66%;}
    .col-span-lg-6 {margin-left: 50%;}
    .col-span-lg-7 {margin-left: 58.33%;}
    .col-span-lg--8 {margin-left: 66.66%;}
    .col-span-lg--9 {margin-left: 75%;}
    .col-span-lg--10 {margin-left: 83.33%;}
    .col-span-lg--11 {margin-left: 91.66%;}
    .col-span-lg--12 {margin-left: 100%;}
}