/**
 * Media Object
 */

.media-object {
    width: 100%;
    padding: 15px;
    overflow: hidden;
    border: 10px solid #f8f8f8;
    border-radius: 4px;
    a:first-child {
        img {
            float: left;
            width: 50px;
            height: auto;
            margin-right: 10px;
            border-radius: 4px;
        }
    }
    img {
        width: 100%;
        height: auto;
    }
    & & {
        margin-top: 15px;
    }
}