/**
 * Navbar
 */

$navbar-background-color: #eee;
$navbar-inverted-background-color: #000;
$navbar-color: #000;
$navbar-inverted-color: #fff;

.navbar {
    width: 100%;
    font-weight: normal;
    color: $navbar-color;
    background-color: $navbar-background-color;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    overflow: hidden;
    min-height: 50px;
    line-height: 50px;
    &__container, &__container-fluid {
        @extend .container;
        margin: 0;
        padding: 0;
    }
    .navbar__nav:hover, .navbar__toggle:hover {
        color: $navbar-inverted-color;
        background-color: $navbar-inverted-background-color;
    }
}

// Inverted coloring
.navbar--inverted {
    color: $navbar-inverted-color;
    background-color: $navbar-inverted-background-color;
    .navbar__nav:hover, .navbar__toggle:hover {
        color: $navbar-color;
        background-color: $navbar-background-color;
    }
}

.navbar__header {
    width: 100%;
    overflow: hidden;
}

.navbar__toggle {
    min-height: 50px;
    position: relative;
    float: right;
    &:hover {
        color: $navbar-inverted-color;
        background-color: $navbar-inverted-background-color;
    }
    label {
        display: block;
        position: relative;
        margin: 0;
        padding: 0 15px;
        font-size: 48px;
        top: -3px;
    }
}

.navbar__checkbox {
    display: none;
}

// Fixes the Navbar to the top of the page
.navbar--fixed {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
}

// Navbar Brand
.navbar-brand {
    float: left;
    font-weight: normal;
    .navbar__nav-items {
        display: block;
        width: 100%;
        line-height: inherit;
        .navbar__nav {
            display: block;
            font-size: 1.1rem;
        }
    }
    .navbar__nav-items:first-of-type {
        border: none;
    }
}

// nav-items container
.navbar__nav-items {
    overflow: hidden;
    clear: both;
    width: 100%;
    display: none;
    list-style: none;
    opacity: 1;
    animation: {
        name: opacity_fade_in;
        duration: 1s;
    }
    line-height: 2em;
    font-size: .9rem;
    font-weight: normal;
    &:first-of-type {
        border-top: 1px solid #000;
    }
}

.navbar__container ~ .navbar__nav-items:first-child {
    padding-top: 1rem;
}

.navbar__container ~ .navbar__nav-items:last-child {
    padding-bottom: 1rem;
}

.navbar__checkbox:checked ~ .navbar__nav-items {
        display: block;
}

// Nav
.navbar__nav {
    display: block;
    &:hover {
        color: $navbar-inverted-color;
        background-color: $navbar-inverted-background-color;
    }
}

// Right aligned Nav
.navbar__nav--right {
    float: none;
}

// Nav Anchor
.navbar__nav a {
    display: block;
    padding: 0 15px;
    background-color: inherit;
    color: inherit;
    text-decoration: none;
}

/* small device columns, e.g. tablet */
@media only screen and (min-width: 600px) {
    .navbar__container, .navbar__container-fluid {
        margin: 0 auto;
        padding: 0 15px;
    }
    .navbar__header {
        width: auto;
        float: left;
    }
    .navbar__nav-items {
        display: block;
        float: left;
        clear: none;
        width: auto;
        &:first-of-type {
            border: none;
        }
        &:first-child, &:last-child {
            padding: 0;
        }
        .navbar__nav {
            float: left;
            line-height: 50px;
            &:first-child {
                padding-top: 0;
            }
            &:last-child {
                margin-right: 0;
            }
            a {
                padding: 0 15px;
                min-height: 50px;
                line-height: 50px;
            }
        }
        &--right {
            float: right;
        }
    }
    .navbar__toggle {
        display: none;
    }
}

@media only screen and (min-width: 768px) {
    .navbar__container, .navbar__container-fluid {
        padding: 0;
    }
}

/**
 * keyframes
 */

@keyframes opacity_fade_in {
    from {opacity: 0}
    to {opacity: 1}
}
