/**
 * Navbar
 */

.navbar {
    width: 100%;
    padding: 10px 0;
    font-weight: normal;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    overflow: hidden;
}

// Default coloring
.navbar--default {
    background-color: #eee;
    color: #000;
}

// Inverted coloring
.navbar--inverted {
    background-color: #000;
    color: #fff;
}

.navbar__header {
    width: 100%;
    overflow: hidden;
}

.navbar__toggle {
    font-size: 36px;
    height: 36px;
    display: block;
    position: relative;
    float: right;
    top: -20px;
}

.navbar__checkbox {
    display: none;
}

// Fixes the Navbar to the top of the page
.navbar--fixed {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
}

// Navbar Brand
.navbar__brand {
    float: left;
    font-weight: bold;
    font-size: 2rem;
    margin-right: 2rem;
}

// Container for Navs
.navbar__nav-items {
    overflow: hidden;
    clear: both;
    width: 100%;
    display: none;
    list-style: none;
    opacity: 1;
    animation-name: opacity_fade_in;
    animation-duration: 0.5s;
}

.navbar--default .navbar__nav-items {
    background-color: #eee;
    color: #000;
}

.navbar--inverted .navbar__nav-items {
    background-color: #000;
    color: #fff;
}

.navbar__checkbox:checked ~ .navbar__nav-items {
        display: block;
}

// Nav
.navbar__nav {
    display: block;
    font-size: 1.1rem;
}

.navbar__nav:first-child {
    padding-top: 1rem;
}

// Right aligned Nav
.navbar__nav--right {
    float: none;
}

// Nav Anchor
.navbar__nav a {
    color: #000;
    text-decoration: none;
}

.navbar.navbar--inverted .navbar__nav a {
    color: #fff;
}

/**
 * ?????
 */

@media only screen and (min-width: 600px) {
    .navbar__header {
        width: auto;
        float: left;
    }
    .navbar__nav-items {
        clear: none;
        width: auto;
        display: block;
    }
    .navbar__nav {
        display: block;
        float: left;
        font-size: 1.1rem;
        margin-right: 20px;
        padding-top: 1rem;
    }
    .navbar__nav--right {
        float: right;
        margin: 0 0 0 20px;
   }
    .navbar__toggle {
        display: none;
    }
}
/* small device columns, e.g. tablet */
@media only screen and (min-width: 768px) {
    .navbar .container, .navbar .container-fluid {
        padding: 0;
    }
}
/* medium device columns, e.g. desktop */
@media only screen and (min-width: 992px) {
    .navbar .container, .navbar .container-fluid {
        padding: 0;
    }
}

/* large device columns, e.g. large desktop */
@media only screen and (min-width: 1200px) {
    .navbar .container, .navbar .container-fluid {
        padding: 0;
    }
}

/**
 * keyframes
 */

@keyframes opacity_fade_in {
    from {opacity: 0.3}
    to {opacity: 1}
}
