* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

@mixin clearfix {
    content: "";
    clear: both;
    display: block;
}

html {
    font-size: 14px;
}

body {
    font-family: 'Open Sans', sans-serif;
    line-height: 1.8; // 1.8 X the computed size of the element's font size
    margin-top: 58px; // needed if using navbar--fixed, compute size according to your own needs
}

h1 {
    font-size: 36px;
    font-weight: 500;
}

h2 {
    font-size: 30px;
    font-weight: 500;
}

h3 {
    font-size: 24px;
    font-weight: 500;
}

h4 {
    font-size: 18px;
    font-weight: 500;
}

h5 {
    font-size: 14px;
    font-weight: 500;
}

h6 {
    font-size: 12px;
    font-weight: 500;
}

p.fancy-quites {
    font-weight: bold;
    font-size: 1.3em;
}

p.fancy-quotes:before {
    content: "\00201c";
}

p.fancy-quotes:after {
    content: "\00201d";
}

/**
 * Container
 */

.container, .container-fluid {
    // max-width: 90%;
    padding: 0 15px 0 15px;
    margin: 0 auto;
    background-color: transparent;
    &::after {
        @include clearfix;
    }
}

/**
 * Images
 */

.rounded-img {
    border-radius: 8px;
}

.circled-img {
    border: 1px;
    border-radius: 50%;
}

.thumbnail {
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 5px;
}

.thumbnail-link {
    display: inline-block;
}

.thumbnail-link img:hover {
    box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);
}

.thumbnail-link img {
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 5px;
    transition: 0.3s;
}

/**
 * Avatars
 */

.avatar {
   width: 50px;
}

.avatar--large {
    width: 75px;
}

.avatar--rounded {
   border-radius: 50%;
}

.avatar--bordered {
   border: solid 3px #ccc;
}

/**
 * Cards & Stories
 */

.card, .story{
    display: block;
    background-color: #fff;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.story {
    padding: 20px;
    border-radius: 4px;
}

.story__caption {
    font-size: 1.7rem;
    font-style: italic;
    color: rgba(0, 0, 0, 0.6);
    margin-bottom: 10px;
    border-bottom: solid 1px rgba(0, 0, 0, 0.15);
}

.story__caption--italic {
    font-style: italic;
}

.card__header, .card__footer {
    text-align: center;
    padding: 10px 20px;
}

.card__header {
    font-size: 1.2em;
}

.card img, .story img {
    max-width: 100%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.story img:first-child {
    margin-bottom: 10px;
    position: relative;
}

.story img.top {
    margin: 0;
}

.story img.left {
    float: left;
    margin: 0 1rem 0 0;
}

.story img.right {
    float: right;
    margin: 0 0 0 1em;
}

// lobotomized owl
p + p {
    margin-top: 1rem;
    color: rgba(0, 0, 0, 1);
    text-indent: 2em;
}
// .story p {
//     margin-bottom: 10px;
//     color: rgba(0, 0, 0, 1);
// }

.story p.story--first-letter:first-letter {
    font-weight: normal;
    font-size: 1.3em;
    font-style: italic;
    margin: 5px 2px;
    background-color: rgba(128, 128, 128, 0.5);
}

/**
 * Navbar
 */

// Container
.navbar {
    width: 100%;
    padding: 10px 0;
    font-weight: normal;
    line-height: 2em;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    overflow: hidden;
    .container, .container-fluid {
        width: 100%;
    }
}

// Default coloring
.navbar--default {
    background-color: #eee;
    color: #000;
}

// Inverted coloring
.navbar--inverted {
    background-color: #000;
    color: #fff;
}

// Expose/Collape icon
.navbar__collapse-icon {
    float: right;
}

// Fixes the Navbar to the top of the page
.navbar--fixed {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
}

// Navbar Brand
.navbar__brand {
    float: left;
    font-weight: bold;
    font-size: 2rem;
    margin-right: 2em;
}

// Container for Navs
.navbar__nav-items {
    clear: both;
    width: 100%;
    display: none;
    opacity: 1;
    animation-name: opacity_fade_in;
    animation-duration: 0.5s;
}

.navbar--default .navbar__nav-items {
    background-color: #eee;
    color: #000;
}

.navbar--inverted .navbar__nav-items {
    background-color: #000;
    color: #fff;
}

// Nav
.navbar__nav {
    font-size: 1.1rem;
    line-height: 2rem;
}

// Right aligned Nav
.navbar__nav--right {
    float: none;
}

// Nav Anchor
.navbar__nav a {
    color: #000;
    text-decoration: none;
}

.navbar.navbar--inverted .navbar__nav a {
    color: #fff;
}

/**
 * Carousel
 */

.carousel {
    position: relative;
    .carousel__slides {
        .carousel__slide {
            position: relative;
            overflow: hidden;
            display: none;
            &.active {
                display: block;
            }
            img {
                display: block;
                max-width: 100%;
                height: auto;
                margin: 0 auto;
                animation-name: carousel;
                animation-duration: 0.5s;
            }
            .carousel__caption {
                position: absolute;
                overflow: hidden;
                z-index: 10;
                right: 15%;
                bottom: 20%;
                left: 15%;
                text-align: center;
                background-color: transparent;
            }
        }
    }
    .carousel__chrome {
        position: absolute;
        bottom: 10%;
        left: 0;
        overflow: hidden;
        z-index: 10;
        width: 100%;
        height: auto;
        text-align: center;
        font-size: 1em;
        color: white;
    }
}
/**
 * 12 Column, Mobile First Grid System
 */

 /* clear fix */
 .row {
    width: 100%;
    &:after {
        @include clearfix;
    }
}

.row + .row {
    margin-top: 15px;
}

/* mobile columns */
[class*="col-"] {
    width: 100%;
    padding: 15px;
}

/* small device columns, e.g. tablet */
@media only screen and (min-width: 768px) {
    .container {
        width: 738px;
    }

    [class*="col-sm"] {
        float: left;
    }

    [class*="col-span-sm"]:after {
        content: "";
    }

    .col-sm-1 {width: 8.33%;}
    .col-sm-2 {width: 16.66%;}
    .col-sm-3 {width: 25%;}
    .col-sm-4 {width: 33.33%;}
    .col-sm-5 {width: 41.66%;}
    .col-sm-6 {width: 50%;}
    .col-sm-7 {width: 58.33%;}
    .col-sm-8 {width: 66.66%;}
    .col-sm-9 {width: 75%;}
    .col-sm-10 {width: 83.33%;}
    .col-sm-11 {width: 91.66%;}
    .col-sm-12 {width: 100%;}

    .col-span-sm-1 {margin-left: 8.33%;}
    .col-span-sm-2 {margin-left: 16.66%;}
    .col-span-sm-3 {margin-left: 25%;}
    .col-span-sm-4 {margin-left: 33.33%;}
    .col-span-sm-5 {margin-left: 41.66%;}
    .col-span-sm-6 {margin-left: 50%;}
    .col-span-sm-7 {margin-left: 58.33%;}
    .col-span-sm--8 {margin-left: 66.66%;}
    .col-span-sm--9 {margin-left: 75%;}
    .col-span-sm--10 {margin-left: 83.33%;}
    .col-span-sm--11 {margin-left: 91.66%;}
    .col-span-sm--12 {margin-left: 100%;}
}

/* medium device columns, e.g. desktop */
@media only screen and (min-width: 992px) {
    .container {
        width: 962px;
    }

    [class*="col-md"] {
        float: left;
    }

    [class*="col-span-md"]:after {
        content: "";
    }

    .col-md-1 {width: 8.33%;}
    .col-md-2 {width: 16.66%;}
    .col-md-3 {width: 25%;}
    .col-md-4 {width: 33.33%;}
    .col-md-5 {width: 41.66%;}
    .col-md-6 {width: 50%;}
    .col-md-7 {width: 58.33%;}
    .col-md-8 {width: 66.66%;}
    .col-md-9 {width: 75%;}
    .col-md-10 {width: 83.33%;}
    .col-md-11 {width: 91.66%;}
    .col-md-12 {width: 100%;}

    .col-span-md-1 {margin-left: 8.33%;}
    .col-span-md-2 {margin-left: 16.66%;}
    .col-span-md-3 {margin-left: 25%;}
    .col-span-md-4 {margin-left: 33.33%;}
    .col-span-md-5 {margin-left: 41.66%;}
    .col-span-md-6 {margin-left: 50%;}
    .col-span-md-7 {margin-left: 58.33%;}
    .col-span-md--8 {margin-left: 66.66%;}
    .col-span-md--9 {margin-left: 75%;}
    .col-span-md--10 {margin-left: 83.33%;}
    .col-span-md--11 {margin-left: 91.66%;}
    .col-span-md--12 {margin-left: 100%;}
}

/* large device columns, e.g. large desktop */
@media only screen and (min-width: 1200px) {
    .container {
        width: 1170px;
    }

    [class*="col-lg"] {
        float: left;
    }

    [class*="col-span-lg"]:after {
        content: "";
    }

    .col-lg-1 {width: 8.33%;}
    .col-lg-2 {width: 16.66%;}
    .col-lg-3 {width: 25%;}
    .col-lg-4 {width: 33.33%;}
    .col-lg-5 {width: 41.66%;}
    .col-lg-6 {width: 50%;}
    .col-lg-7 {width: 58.33%;}
    .col-lg-8 {width: 66.66%;}
    .col-lg-9 {width: 75%;}
    .col-lg-10 {width: 83.33%;}
    .col-lg-11 {width: 91.66%;}
    .col-lg-12 {width: 100%;}

    .col-span-lg-1 {margin-left: 8.33%;}
    .col-span-lg-2 {margin-left: 16.66%;}
    .col-span-lg-3 {margin-left: 25%;}
    .col-span-lg-4 {margin-left: 33.33%;}
    .col-span-lg-5 {margin-left: 41.66%;}
    .col-span-lg-6 {margin-left: 50%;}
    .col-span-lg-7 {margin-left: 58.33%;}
    .col-span-lg--8 {margin-left: 66.66%;}
    .col-span-lg--9 {margin-left: 75%;}
    .col-span-lg--10 {margin-left: 83.33%;}
    .col-span-lg--11 {margin-left: 91.66%;}
    .col-span-lg--12 {margin-left: 100%;}
}

.text-align-right {
  text-align: right;
}

.text-align-center {
  text-align: center;
}

/* End of 12 Column, Mobile First Grid System */

/**
 * keyframes
 */

@keyframes opacity_fade_in {
    from {opacity: 0.3}
    to {opacity: 1}
}

@keyframes carousel {
    0% {opacity: 0.0}
    10% {opacity: 0.5}
    100% {opacity: 1}
}
/**
 * Media Queries
 */

@media only screen and (min-width: 600px) {
    .navbar__nav-items {
        clear: none;
        width: auto;
        box-shadow: none;
        display: block;
    }
    .navbar__nav {
        display: block;
        float: left;
        font-size: 1.1rem;
        line-height: 2rem;
        margin-right: 20px;
    }
    .navbar__nav--right {
        float: right;
        margin-right: 0;
        margin-left: 20px;
    }
    .navbar__collapse-icon {
        display: none;
    }
}