.navbar__brand img {
    width: 50px;
    height: auto;
    border-radius: 50%;
    vertical-align: middle;
    margin-right: 1rem;
}

.hero {
    h1 {
        font-weight: bold;
    }
    p {
        font-size: 1.5rem;
    }
}

#carousel1 {
    background-color: red;
    .carousel__caption {
        font-size: .5rem;
        font-weight: bold;
        color: #4f0;
    }
}

@media only screen and (min-width: 600px) {
    #carousel1 {
        .carousel__caption {
            font-size: 2rem;
        }
    }
    .hero {
        h1 {
            font-size: 4rem;
        }
        p {
            font-size: 1.75rem;
        }
    }
}

@media only screen and (min-width: 768px) {
    #carousel1 {
        .carousel__caption {
            font-size: 2rem;
        }
    }
}

.brag {

    border: solid 1px #000;
    background-color: #fff;
}